[Unit]
Description=Parses smart meter output to *.prom files for node_exporter scraping
After=multi-user.target

[Service]
Type=simple
ExecStart={{ smart_meter_monitoring_venv_path }}/bin/python -m smart_meter_monitoring
Restart=on-failure
EnvironmentFile={{ smart_meter_monitoring_env_file_path }}

[Install]
WantedBy=multi-user.target
