---
# See https://grafana.com/docs/agent/latest/static/configuration/ for defaults (omitted here if not changed)
server:
  log_level: "info"
  log_format: "json"
metrics:
  global:
    scrape_interval: "10s"
    external_labels: {}
    remote_write:
      - url: "{{ grafana_cloud_metrics_url }}"
        basic_auth:
          username: "{{ grafana_cloud_metrics_username }}"
          password: "{{ grafana_cloud_api_key }}"
  wal_directory: "{{ grafana_agent_wal_dir }}"
  configs: []
logs:
  positions_directory: "{{ grafana_agent_positions_dir }}"
  configs:
    - clients:
        - basic_auth:
            password: "{{ grafana_cloud_api_key }}"
            username: "{{ grafana_cloud_logs_username }}"
          url: "{{ grafana_cloud_loki_url }}"
      name: raspberry-pi-meterkast
      positions:
        filename: /tmp/positions.yaml
      scrape_configs:
        - job_name: integrations/node_exporter_direct_scrape
          static_configs:
            - targets:
                - localhost
              labels:
                instance: monitor-joren
                __path__: /var/log/*.log
                job: integrations/node_exporter
      target_config:
        sync_period: 10s
traces:
  configs: []
integrations:
  scrape_integrations: true
  agent:
    enabled: true
    relabel_configs: []
    metric_relabel_configs: []
  node_exporter:
    enabled: true
    textfile_directory: "{{ metrics_output_dir }}"
